html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.lt-ie9 {
  // Hack for clearfixes
  * {
    filter: none !important;
  }
}

[aria-hidden=true] {
  display: none !important;
}

/**
 * Basic styling
 */
body {
    background-color: $background-color;
}


article {
    min-height: 600px;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey;
    border-left: 4px solid $grey;
    padding-left: 2em;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

section.landing-content {
    margin-bottom: 2em;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey;
        }
    }
}

main {
    padding: {
        top: 7em;
    }
}