// Hero
$hero-image-path:		'/img/saint_micheals_church_home.jpg';
// Layout Overrides
$spacing-unit:     		30px;
$site-direction:	  	left-to-right;
$content-width:     	1000px;

// Color Override
//$background-color:   $blue;
//$link-color:         $green;
//$color-focus:        $blue-05;
//$color-visited:      $grey;
//$text-color:         $white;
//$header-color:       $yellow;